body{
 background-color: black;
 font-family: sans-serif;
}

h1 {
  color: white;
}

.buttons-container, .width, .color, .file-container, .shape {
  color: white;
  font-size: 1.5rem;
  position: relative;
  padding: 5px 0;
}

.type-select-list, .fft-select-list, .color-select-list, .file-options, .background-select-list, .shape-select-list {
  position: absolute;
  color: black;
  left: 200px;
  height: 1.5rem;
  width: 150px;
  border-radius: 5px;
}

.show-tunes-button, .save-tunes-button, .stop-tunes-button, .modal-button  {
  height: 35px;
  width: 200px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: none;
}

.show-tunes-button:hover, .save-tunes-button:hover, .stop-tunes-button:hover, .modal-button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.modal-button {
  border: 1px solid black;
}
.canvas-buttons {

}

.canvas-container {
  position: relative;
}

.save-modal-container {
  background-color: white;
  height: 150px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: solid black 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 16px 1px grey;
}

.modal-input{
width: 75%;
}
.file-options {

}

#canvas {
  background-color: white;
}